.container {
   background-color: #FFFDD0;
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   font-family: 'Inter', sans-serif;
   overflow: hidden;
}

.content {
   display: flex;
   align-items: center;
   flex-direction: column;
}

#header {
   font-size: 60px;
   text-align: center;
}

#imageGrid {
   display: grid;
   width: 100%;
   height: 100vw;
   grid-template-columns: repeat(32, 1fr);
   grid-template-rows: repeat(32, 1fr);
   /* grid-auto-rows: 0; */
   position: absolute;
   margin-top: 8em;
   overflow: hidden;
}

.speciesImg {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.temp {
   /* background-color: blue; */
   border-radius: 10px;
   box-shadow: 14px 14px 4px gray;

   width: 100%;
   height: 100%;
   object-fit: cover;
}

#temp1 {
   grid-area: 1 / 31 / 3 / 33;
   transform: translateX(20%);
}

#temp2 {
   grid-area: 4 / 30 / 6 / 32;
   transform: translateX(-30%);
}

#temp3 {
   grid-area: 3 / 23 / 8 / 28;
   transform: translateX(-5%);
}

#temp4 {
   grid-area: 7 / 30 / 10 / 33;
   transform: translateX(20%);
}

#temp5 {
   grid-area: 5 / 12 / 14 / 21;
}

#temp6 {
   grid-area: 8 / 8 / 10 / 10;
}

#temp7 {
   grid-area: 9 / 2 / 13 / 6;
}

#temp8 {
   /* grid-area: 13 / 8 / 15 / 10; */
   /* transform: translate(-25%, 25%); */
}

#temp9 {
   grid-area: 9 / 23 / 11 / 25;
   transform: translate(-25%, 25%);
}

#signUp {
   background-color: #C5F681;
   border-radius: 10px;
   padding: 10px;
   margin-top: 20em;
   z-index: 5;
}

.camera {
   z-index: 10;
}